@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}



body{
    height: 98vh;
    background-image: url(https://images.pexels.com/photos/2955703/pexels-photo-2955703.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center center;
    background-repeat: repeat-x;

}

body {
    text-align: center;
}

main{
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}
.principal{
    margin: 10px;
    padding: 10px;
    margin-top: 10px;
    
    
}
.principal img{
    max-width: 290px;
    border-radius: 350px;
    
}

/*.segundarias{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}*/

.social{
    background-color: orange;
    margin: 10px;
    padding: 10px;
    max-width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 100px;
}
.social a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

header{
    font-size: 1.8em;
    color: orange;
    margin-top: -15px;
    margin-bottom: 40px;
    
}

.barba{
    margin-top: 10px;
}

.barba img{
    max-width: 100px;
    border-radius: 30px;
}


footer{
    background-color: rgb(53, 58, 59);
    color: #f1b308;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    padding: 3px;
    margin-top: 6px;
}