@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:white;
    color: rgb(2, 30, 56);
}
body {
    text-align: center;
}

.principal{
    margin: 30px;
    padding: 10px;
    
    
}
.principal img{
    border-radius:50%;
}

.segundarias{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

header{
    font-size: 2em;
    
}